section#projects
  a(href="#").project-tile
  a(href="#").project-tile
  a(href="#").project-tile
  a(href="#").project-tile
  a(href="#").project-tile
  a(href="#").project-tile
  a(href="#").project-tile
  a(href="#").project-tile
  a(href="#").project-tile
  a(href="#").project-tile